.footer {
    background-color: var(--black);
    padding: 20px 20px 44px;
}

.footer-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    margin-top: 15px;
    display: flex;
    column-gap: 15px;
}

.footer-top-link {
    font-size: 15px;
    line-height: 20px;
    color: white;
    max-width: 230px;
}

.footer-block-time {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-time {
    font-size: 15px;
    line-height: 20px;
    color: white;
    max-width: 150px;
    text-align: end;
}

.year {
    font-size: 20px;
    line-height: 20px;
    color: white;
    letter-spacing: 2px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    position: relative;
}

.footer-bottom::before {
    content: '';
    border: 1px solid white;
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.footer-link {
    font-size: 20px;
    line-height: 20px;
    color: white;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .footer {
        padding: 15px 20px 44px;
    }

    .footer-list {
        margin-top: 10px;
    }

    .footer-bottom {
        margin-top: 67px;
    }
}