@import url(styles/reset.css);
@import url(styles/normolise.css);
@import url(styles/header.css);
@import url(styles/welcome.css);
@import url(styles/about.css);
@import url(styles/favorites.css);
@import url(styles/shop.css);
@import url(styles/contacts.css);

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

:root {
    --brown: #BB945F;
    --black: #0C0C0E;
    --text-color: #000000;
    --grey: #8E8E8E;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 40px;
}

h1, h2, h3 {
    font-family: 'Forum', cursive;
}

.same-head {
    font-size: 40px;
    color: var(--black);
    letter-spacing: 2px;
    position: relative;
}

.same-head::after {
    content: '';
    border: 1px solid var(--black);
    display: block;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}

